.legendainput{
    margin: 0%;
    text-align: left;
    color: white;
}

.botao {
    width: 150px;
    text-align: center;
    align-items: center !important;
}

.h2 {
    padding-bottom: 20px;
}

<<<<<<< HEAD
.botaotabela {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
}
=======
>>>>>>> f020238739c2379962f4fc305678e3b31a20148e

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
  }
  
  