.legendainput{
    margin: 0%;
    text-align: left;
    color: white;
}

.botao {
    width: 150px;
    text-align: center;
    align-items: center !important;
}

.h2 {
    padding-bottom: 20px;
}

.botaotabela {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
  }
  
  