.hori1 {
    padding-bottom: 20px !important;
    justify-content: center;

}

.hori2 {
    padding-bottom: 20px !important;
    justify-content: center;
  
}

.hori3 {
    padding-bottom: 20px !important;
    justify-content: center;
}

.hori3 {
    padding-bottom: 20px !important;
    justify-content: center;
}

.hori4 {
    padding-bottom: 20px !important;
    justify-content: center;
}

.h2 {
    padding-bottom: 20px;
}

.legendacadas {
    margin: 0%;
    text-align: left;
    color: white;
}

.salvar {
    padding-top: 20px;
}

input {
    border-radius: 7px;
    height: 35px;
    
}

.dataad {
    width: 160px;
    height: 30px;
}

.datanasci {
    width: 160px;
    height: 30px;
}

body {
    background-color: rgb(133, 161, 186);
}

.botao {
    width: 150px;
    text-align: center;
    box-shadow: 300px color(srgb rgb(0, 0, 0) ) !important;
}

.box {
    background-color: #2B63F0 !important;
    width: 900px;
}

